@import "syntax-variables";

atom-text-editor, atom-text-editor.editor, atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }

    &:not(.git-diff-icon) .line-number {
      @line-number-padding: 1em;
      padding-left: @line-number-padding;

      &.git-line-added, &.git-line-modified {
        @git-margin-indicator-width: 0.5em;
        border-left-width: @git-margin-indicator-width;
        padding-left: calc(@line-number-padding ~" - " @git-margin-indicator-width);
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @pink-hot;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .syntax--marker .region,
atom-text-editor .search-results .syntax--marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .region,
atom-text-editor .search-results .syntax--marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
  color: @purple;
  font-style: italic;

  .syntax--punctuation {
    color: fade(@purple, 35);
  }

  &.syntax--line, &.syntax--block {
    background: fade(@purple, 8);
  }
}

.syntax--entity {
  &.syntax--name.syntax--type {
    color: @teal-dark;
  }

  &.syntax--other.syntax--inherited-class {
    color: @teal;
  }
}

.syntax--keyword {
  color: @pink-hot;

  &.syntax--control {
    color: @pink-hot;
  }

  &.syntax--operator {
    color: @teal-dark;
  }

  &.syntax--other.syntax--special-method {
    color: @magenta;
  }

  &.syntax--other.syntax--unit {
    color: @orange;
  }
}

.syntax--storage {
  color: mix(@pink-dark, @purple);
  font-weight: bold;
}

.syntax--constant {
  color: @orange;

  &.syntax--character.syntax--escape {
    color: @magenta;
  }

  &.syntax--numeric {
    color: @orange-dark;
  }

  &.other.color {
    // color: @cyan;
  }

  &.osyntax--ther.syntax--symbol {
    color: @teal;
    .syntax--punctuation.syntax--definition {
      color: mix(@teal, @blue);
    }
  }
}

.syntax--variable {
  // color: @red;
  color: @orange-dark;

  &.syntax--block {
    color: @teal-dark;
  }
  &.syntax--punctuation.syntax--separator {
    color: @teal;
  }

  &.interpolation {
    // color: darken(@red, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: @teal-dark;
  }
}
.syntax--function.syntax--method { // huh? I dunno, seems to be ruby function definitions
  color: @teal;
}

.syntax--invalid.syntax--illegal {
  background: @pink-hot;
}

.syntax--string {
  color: @green-dark;
  background: fade(@green, 10);

  .syntax--punctuation {
    background: none;
    &.syntax--string, &.syntax--embedded {
      color: fade(@green-dark, 50);
    }
  }

  &.syntax--regexp {
    color: @teal;
    background: fade(@teal, 10);

    .syntax--regexp.syntax--group {
      background: none;
    }
    .syntax--punctuation {
      &.syntax--regexp, &.syntax--group, &.syntax--embedded {
        color: fade(@teal, 50);
      }
    }
  }

  .syntax--embedded {
    color: @orange;
  }

  &.other.link {
    // color: @red;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      // color: @light-gray;
    }

    &.syntax--variable {
      color: @orange;
    }

    &.string,
    &.variable,
    &.parameters,
    &.array {
      // color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      // color: @light-orange;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.section.embedded {
    // this might be where I should bold the embedded punctuation
  }

}

.syntax--support {
  &.syntax--class {
    color: @magenta;
  }

  &.syntax--function  {
    // color: @cyan;
    // color: @teal;

    &.syntax--any-method {
      color: @blue;
    }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @blue;
  }

  &.name.class, &.name.type.class {
    // color: @light-orange;
  }

  &.syntax--name.syntax--section {
    color: @blue;
  }

  &.syntax--name.syntax--tag {
    // color: @red;
    // text-decoration: underline;
    color: @pink-hot;

    &.syntax--id {
      color: @blue;
    }
    &.syntax--class{
      color: @orange;
    }
  }

  &.syntax--other.syntax--attribute-name {
    color: @orange;

    .syntax--punctuation.syntax--separator {
      color: @teal-dark;
    }

    &.syntax--id {
      color: @blue;
    }
  }
}

.syntax--attributes .syntax--entity.syntax--other.syntax--attribute-name {
  color: @purple;
}

.syntax--tag .syntax--punctuation.syntax--definition {
  color: @magenta;
}

.syntax--meta {
  &.class {
    // color: @light-orange;
  }

  &.syntax--link {
    color: @orange;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    // background-color: @gray;
    color: @syntax-text-color;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    // color: @orange;
    // background-color: @pink-light;
    background-color: fade(@pink-hot, 10);
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.deleted {
    // color: @red;
  }

  &.syntax--italic {
    // color: @orange-dark;
    // background-color: @pink-light;
    background-color: fade(@pink-hot, 10);
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.inserted {
    // color: @green;
  }

  &.list {
    // color: @red;
  }

  &.syntax--quote {
    color: @orange;
  }

  &.syntax--raw {
    color: @teal;
    background: fade(@teal, 10);
  }

  &.syntax--strike {
    color: @purple;
    text-decoration: line-through;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @magenta;

    .syntax--marker {
      color: fade(@magenta, 50);
    }
  }
}

atom-text-editor[mini] .scroll-view,
atom-text-editor .scroll-view {
  padding-left: 1px;
}
